body{
    font-family: "Times New Roman";
}
.img img{
    max-width: 100%;
}
.desc a{
    color: gray;
}
.desc a:hover{
    color: black;
    text-decoration: none;
}
.desc h3{
    color: #6abe45;
}
.buy h3{
    background-color: #6abe45;
    text-align: center;
    height: 50px;
    width:140px;
    line-height: 50px;
    border-radius: 10px;
}
.buy a{
    color: white;
}
.buy a:hover{
    zoom: 1.4;
    color: white;
}
.desc img{
    width: 260px;
    height: 89px;
}
.mote{
    border: 1px solid gray;
    text-align: center;
    background-color: #6abe45;
}
.motee{
    border: 1px solid gray;
    color: gray;
    text-align: center;
}
.motee:hover{
    background-color: #6abe45;
    color: black;
}
.mote a{
    color: gray;
}
.motee a{
    color: gray;
}
.motee a:hover{
    color: black;
    text-decoration: none;
}
.magazine img{
    max-height: 100%;
    max-width: 100%;
}