*{
    margin:0;
    padding: 0;
}
body{
    background-color: #F5F7FF;
}
/*header*/
.head_top{
    margin-top: 50px;
}
.head_top img{
    width: 40%;
    height: 100px;
}
#logo{
    width: 100%;
    height: 100px;
}
.top-1{
    float: left;
}
.top-2{
    margin-top: 30px;
}
.bt{
    width: 20%;
    height: 50px;
    background-color: #F79E1B;
    border-radius: 20px;
    margin-top: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
#logo-1:hover{
    background-color: white;
}
#h-a1:hover{
    text-decoration: none;
    color: black;
}
.h-sp1{
    font-weight: bold;
    font-size: 14px;
}
.h-sp2{
    font-weight: bold;
    font-size: 16px;
}
hr{
    border: 1px black solid;
}
.head-mid a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}

.head-bottom{
    margin-top: 60px;
}
.hb-d1{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
#hb-2{
    font-weight: bold;
    font-size: 50px;
}
#hb-3:hover{
    background-color: white;
}
/*section*/
.st1{
    margin-top: 200px;
    text-align: center;
}
.st1-1{
    font-weight: bold;
    font-size: 50px;
}
.st2\.1{
    margin-top: 20px;
}
.item{
    margin: 30px 10px 20px;
    background-color: #FEFEFE;
    border: 1px solid orange;
}
.st2\.2{
    color: #F79E1B;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    margin:10px 0;
}
.st2\.3{
    font-size: 15px;
    line-height: 2.5;
}
.nd{
    margin: 30px 20px;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    padding: 10px;
}
.st3{
    margin-top: 40px;
    padding: 0 30px;
}
.st3-0{
    margin-top: 100px;
}
.st3-1{
    font-weight: bold;
    font-size: 40px;
}
.st3-2{
    font-size: 15px;
    line-height: 4;
}
.st4{
    text-align: center;
    margin-top: 50px;
}
.st5-1{
    padding: 10px;
    margin-top: 20px;

}
.nd5{
    background-color:#FEFEFE;
}
.st5-1 img{
    width: 100%;
    height: 219px;
}
.st5-11{
    font-weight: bold;
    font-size: 20px;
}
.st5-12{
    font-size: 20px;
}
.st5-13{
    font-weight: bold;
    font-size: 40px;
    color:#F79E1B ;
}
.bt1{
    width: 80%;
    height: 50px;
    background-color: #F79E1B;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.bt1:hover{
    background-color: #CC6601;
}
.st6{
    text-align: center;
    margin-top: 50px;
}
.st7{
    margin-top: 40px;
}
.item7{
    text-align: center;
    background-color: #FEFEFE;
    padding: 20px 10px 10px 10px;
}
.st7-1{
    font-weight: bold;
    font-size: 40px;
    color:#F79E1B ;
}
.st7-2{
    font-size: 20px;
}
.im7{
    max-width: 340px;
}
.st8{
    margin-top: 40px;
}
.item8{
    background-color: #FEFEFE;
}
.item8 img{
    max-width: 100%;
}
.st8-1, .st8-2{
    padding: 0 20px;
}
.st8-1{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}
.st8-2{
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}
/*footer*/
footer{
    margin-top: 40px;
}
.foot{
    background-color: #FEFEFE;
}
hr{
    border: 1px solid grey;
}
.footer1 p{
    text-transform: uppercase;
    margin:30px;
    font-weight: bold;
    font-size: 15px;
    color: red;
}
.footer1 a{
    text-decoration: none;
    color: black;
    margin:20px 0px 20px 05px;
}
.footer1 a:hover{
    color: red;
}
.footer1 li{
    margin: 10px 0px 10px 35px;
}
.end{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
#pp1{
    text-transform: uppercase;
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 40px;
    color: #F79E1B;
    text-shadow: 1px 1px 0 #F79E1B;
}
#pp2{
    margin-bottom: 20px;
}
/*end*/
